---
layout: default
title: archive
permalink: /archive/
---

<h1>Archive</h1>

<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}"><!--<img src="{{ post.image }}" height="100">-->{{ post.title }}</a> {{ post.date | date: "%D" }} 
    {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">#{{ tag }}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </li>
  {% endfor %}
</ul>
