---
layout: default
---

<p>Welcome to the online residence of Dana Amundsen, designer and visual storyteller.</p>

<h1>Quick Links</h1>

<ul>
  <li><a href="http://www.dnaartists.net/" title="DnA Artists, a Collaboration between Dana Amundse and Alex O'Keefe">Check out my Collab DnA Artists</a>
  <!-- <li><a href="https://metapixl.com/danaamundsen" title="My Pixelfed account">Peek into my sketchbook on Pixelfed</a></li> -->
  <li><a rel="me" href="https://socel.net/@danaamundsen" title="My mastodon account">Follow me on the Fediverse</a></li>
  <!-- <li><a href="#" title="A GitHub Pages template for artists">Simple, A GitHub Pages Template</a></li> -->
  <li><a href="http://ladyknightcomic.tumblr.com" title="My all ages queer fantasy comic">Read My WebComic Lady Knight</a></li>
  <li><a href="http://danaamundsen.tumblr.com" title="My tumblr, which archives my work prior to 2021">Browse My Older Artwork</a></li>
  <!-- <li><a href="https://app.thestorygraph.com/profile/danaamundsen" title="My storygraph profile">See what I'm reading on Storygraph</a></li> -->
</ul>

<hr></hr>
<h1>Latest Posts</h1>

<ul class="folio">
{% for post in site.posts limit:4 %}

<li><a class="folio_item" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }} | {{ post.date | date: "%D" }}"><img src="http://images.weserv.nl/?url=https://www.danaamundsen.com{{ site.img_base_url }}{{ post.img }}&w=200&h=200&fit=cover&output=png" alt="{{ post.desc }}" class="thumb"></a></li>

   {% endfor %}
</ul>
<p><center><a href="/blog/" title="All blog posts">Click here to see all blog posts.</a></center></p>

<!--
<h1>From the Web</h1>

{% include instagram.html username="danaamundsen" %}
-->
