---
layout: default
title: Portfolio
permalink: /portfolio/
---

<h1>Portfolio</h1>

<ul>
{% for portfolio_item in site.portfiolio_items %}
<li>{{ portfolio_item.title }}
{% endfor %}
</ul>

<!--
<ul class="tag">
    <li><a href="#illus" class="tag_name">Illustration</a></li>
</ul>

<p></p>

<h2 id="illus">Illustration</h2>
{% for portfolio_item in site.portfiolio_items %}
  {% if portfolio_item.tag == 'illustration' %}
      <a href="{{ site.baseurl }}{{ portfolio_item.url }}" title="{{ portfolio_item.title }}"><img src="http://images.weserv.nl/?url={{ site.img_base_url }}{{ portfolio_item.img }}&w=100&h=100&fit=cover&output=png" alt="{{ portfolio_item.desc }}" class="thumb"></a>
  {% endif %}
{% endfor %}
-->
