---
layout: default
title: Portfolio
permalink: /portfolio/
---

<h1>Portfolio</h1>

<ul class="tag">
  {% for categories in portfolio_item.categories %}
    <li><a href="#{{ category[0] | slugify }}" class="tag_name">#{{ category[0] }}</a></li>
  {% endfor %}
</ul>

<p></p>

{% for category in portfolio_item.categories %}
  <p id="{{ category[0] | slugify }}"><b>#{{ tag[0] }}</b></p>
  {% for post in category[1] %}
      <a href="{{ site.baseurl }}{{ portfolio_item.url }}" title="{{ portfolio_item.title }}"><img src="http://images.weserv.nl/?url={{ site.img_base_url }}{{ portfolio_item.img }}&w=100&h=100&fit=cover&output=png" alt="{{ portfolio_item.desc }}" class="thumb"></a>
  {% endfor %}
{% endfor %}
