<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- favicon  -->
<link rel="shortcut icon" type="image/x-icon" href="">

<!-- Google Fonts -->

<!-- Meta Data -->
<meta name="twitter:card" content="summary" />
<meta property="og:url" content="{{ page.url }}" />
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">
{% else %}
<meta name="twitter:title" content="{{ site.title }} | {{site.description}}">
{% endif %}
<meta property="og:description" content="{{ site.description }}" />
{% if site.logo %}
<meta property="og:image" content="{{ site.logo }}" />
{% endif %}

<!-- end custom head snippets -->
