---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Libre+Franklin&display=swap');

body {
  background: #e2dac2;
  color: #2b272e;
  font-family: 'Libre Franklin', sans-serif;
}

h1, h2, h3 {
  font-family: 'Berkshire Swash', cursive;
  color: #c47ac0;
}

a {
  color: #c47ac0;
}

a:hover {
  color: #71a8d1;
}
