---
---

/* Theme */

@import "{{ site.theme }}";

/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family={{ site.body_font }}&family={{ site.header_font }}&display=swap&family={{ site.title_font }}');

/* Basic Styling */

body {
  font-family: {{ site.body_font }}, sans-serif;
  background: {{ site.background_color }};
  color: {{ site.font_color }};
}

a.title {
  font-family: {{ site.title_font }}, serif;
  font-size: 24pt;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: {{ site.header_font }}, serif;
  color: {{ site.color1 }};
  font-weight: normal;
}

a {
  font-weight: 400;
  color: {{ site.color1 }};
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  font-weight: inherit;
  color: {{ site.color2 }};
  text-decoration: none;
}

h1 a, h2 a, h3 a{
  font-weight: 400;
}

hr {
  border: 0;
  background: {{ site.color1 }};
  height: 1px;
  width: 50%;
  margin: 24px auto;
}

img {
  border-radius: 15px;
}

.icon {
  border-radius: 0px;
}

/* Menu */
/*
ul.menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li a.menu_item {
  float: left;
  display: block;
  text-align: center;
  padding: 3px 8px;
  text-decoration: none;
  font-weight: 600;
  color: {{ site.color1 }};
}

li a.menu_item:hover {
  font-style: italic;
  text-decoration: underline;
  color: {{ site.color2 }};
}

ul.submenu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li a.submenu_item {
  float: left;
  display: block;
  text-align: center;
  padding: 3px 8px;
  text-decoration: none;
  font-style: italic;
  color: {{ site.color1 }};
}

li a.submenu_item:hover {
  font-style: italic;
  text-decoration: underline;
  color: {{ site.color2 }};
}
*/

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a.menu_item, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a.menu_item:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Tags */

ul.tag {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li a.tag_name {
  float: left;
  display: block;
  text-align: center;
  padding: 3px 8px;
  font-style: italic;
  text-decoration: underline;
  color: {{ site.color1 }};
}

li a.tag_name:hover {
  text-decoration: none;
  background-color: {{ site.color2 }};
  color: {{ site.background_color }};
}

/* Portfolio Items */

ul.folio {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li a.folio_item {
  float: left;
  display: block;
  padding: 5px;
}

.thumb {
  border-radius: 10px;
  height: 150px;
}

/* layout */

.logo {
  border-radius: 50%;
  width: 150px;
  margin: auto;
}

@media print, screen and (max-width: 960px) {
  
  section {
    border: 0px
  }
  
}
