---
layout: default
title: archive
permalink: /blog/archive/
---

<h1>Archive</h1>

<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}"><b>{{ post.title }}</b></a> {{ post.date | date: "%D" }} 
    {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}"><i>#{{ tag }}</i></a>
  {% unless forloop.last %},&nbsp;{% endunless %}
  {% endfor %}
  </li>
  {% endfor %}
</ul>
