---
layout: default
permalink: /blog/tags/
title: Tags
---

<h1>Tags</h1>

<ul class="tag">
  {% for tag in site.tags %}
    <li><a href="#{{ tag[0] | slugify }}" class="tag_name">#{{ tag[0] }}</a></li>
  {% endfor %}
</ul>

<p></p>

{% for tag in site.tags %}
  <h3 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h3>
<ul class="folio">
  {% for post in tag[1] %}
    {% if post.img %}
      <li><a class="folio_item" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }} | {{ post.date | date: "%D" }}"><img src="http://images.weserv.nl/?url={{ site.img_base_url }}{{ post.img }}&w=200&h=200&fit=cover&output=png" alt="{{ post.desc }}" class="thumb"></a></li>
    {% else %}
      <li><a class="folio_item" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }} | {{ post.date | date: "%D" }}"><img src="/assets/img/blank.png" alt="Logo" class="thumb"></a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endfor %}
