<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="handheld, only screen and (max-device-width:640px)">

    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>

{% seo %}

{% include head-custom.html %}
  </head>

  <body>
    <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
    <div class="shell">

      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>


      <span class="banner-fix"></span>


      <section id="main_content">
        
        <ul class="menu">
          <li class="dropdown"><a href="javascript:void(0)" class="menu_link">My Work</a>
          <div class="dropdown-content">
              <a href="/portfolio/">Portfolio</a>
              <a href="/cv/">CV</a>
            </div>
          </li>
          <li class="dropdown"><a href="javascript:void(0)" class="dropbtn">Blog</a>
            <div class="dropdown-content">
              <a href="/blog/">Posts</a>
              <a href="/blog/tags/">Tags</a>
              <a href="/blog/archive/">Archive</a>
            </div>
          </li>
          <li class="dropdown"><a href="https://write.as/danaamundsen/" class="menu_link">Newsletter</a></li>
          <!-- <li><a href="/shop/" class="menu_item">Shop</a></li> -->
          <li class="dropdown"><a href="/links/" class="menu_link">Links</a></li>
        </ul>
        
        {{ content }}
      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <!-- social media links -->
        <p>
          <a href="feed.xml" title="RSS"><img class="icon" src="{{ site.img_base_url }}/assets/icons/rss_white.png" width="24"></a>
          <a href="http://www.instagram.com/danaamundsen" title="Instagram"><img class="icon" src="{{ site.img_base_url }}/assets/icons/instagram_white.png" width="24"></a>
          <a href="http://danaamundsen.tumblr.com" title="Tumblr"><img class="icon" src="{{ site.img_base_url }}/assets/icons/tumblr_white.png" width="24"></a>
          <a href="#" title="Youtube"><img class="icon" src="{{ site.img_base_url }}/assets/icons/youtube_white.png" width="24"></a>
          <a href="http://socel.net/@danaamundsen" title="Mastodon" rel="me"><img class="icon" src="{{ site.img_base_url }}/assets/icons/mastodon_white.png" width="24"></a>
          <a href="http://www.ko-fi.com/danaamundsen" title="Ko-fi"><img class="icon" src="{{ site.img_base_url }}/assets/icons/kofi_white.png" width="24"></a>
        </p>

<!-- credits -->
        <small><p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img class="icon" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a>
        <br>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> |
        Hosted on GitHub Pages &mdash; theme by <a href="https://github.com/orderedlist">orderedlist</a> |
        Icons from <a href="https://icons8.com/">Icons8</a></p></small>
            {% if site.github.is_project_page %}
              <p>this project by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}
            {% if site.github.is_user_page %}
              <p>Projects by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
        <p>Generated with <a href="https://pages.github.com">GitHub Pages</a> using Merlot</p>
        <span class="octocat"></span>
      </footer>

    </div>
    <!--plugins--> 
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script type="text/javascript" src="/assets/js/lightbox.js"></script>
    <link rel="stylesheet" href="/assets/css/lightbox.css">
  </body>
</html>
