<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

<!-- site menu -->        
        <ul class="menu">
          <li><a href="/portfolio/" class="menu_item">Portfolio</a></li>
          <li><a href="/blog/" class="menu_item">Blog</a></li>
            <ul class="submenu">
              <li><a href="/tags/" class="submenu_item">Tags</a></li>
              <li><a href="/archive/" class="submenu_item">Archive</a></li>
            </ul>
          <li><a href="/mailing-list/" class="menu_item">Mailing List</a></li>
          <li><a href="/shop/" class="menu_item">Shop</a></li>
          <li><a href="/links/" class="menu_item">Links</a></li>
        </ul>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
<!-- social media links -->
        <p></p><p>
          <a href="feed.xml" title="RSS"><img src="{{ site.img_base_url }}/icons/rss.png" width="24px"></a>
          <a href="http://www.instagram.com/danaamundsen" title="Instagram"><img src="{{ site.img_base_url }}/icons/instagram.png" width="24px"></a>
          <a href="http://danaamundsen.tumblr.com" title="Tumblr"><img src="{{ site.img_base_url }}/icons/tumblr.png" width="24px"></a>
          <a href="#" title="Youtube"><img src="{{ site.img_base_url }}/icons/youtube.png" width="24px"></a>
          <a href="http://socel.net/@danaamundsen" title="Mastodon"><img src="{{ site.img_base_url }}/icons/mastodon.png" width="24px"></a>
          <a href="http://www.ko-fi.com/danaamundsen" title="Ko-fi"><img src="{{ site.img_base_url }}/icons/kofi.png" width="24px"></a>
        </p>

<!-- credits -->
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
        {% if site.github.is_project_page %}
        <small><p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
        {% endif %}
        <br>Hosted on GitHub Pages &mdash; theme by <a href="https://github.com/orderedlist">orderedlist</a>
        <br>Icons from <a href="https://icons8.com/">Icons8</a></p></p></small>
      
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script type="text/javascript" src="/assets/js/lightbox.js"></script>
    <link rel="stylesheet" href="/assets/css/lightbox.css">
  </body>
</html>
