---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h2>{{ page.title }}</h2>

{{content}}

  <small> tags: {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">#{{ tag }}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}</small>

<p align="right">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}">{{page.previous.title}}</a> / 
    {% endif %}

    {% if page.next.url %}
    <a href="{{ page.next.url }}">{{page.next.title}}</a>
    {% endif %}
</p>
